.menu{
    position: fixed;
    top: 5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.menu:before, .menu:after{
    width: 1px;
    height: 25em;
    background: #000;
    content: "";
    display: block;
    margin-left: 1.5em;
}
.menu:after{
    margin-top: 1em;
}

.menu:before{
    margin-bottom: 1em;
}