.right-scroll{
    position: fixed;
    right: 8em;
    top: 38%;
    z-index: 2;
}

.small{
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 100%;
    margin-bottom: 1em;
    border: 2px solid #000;
}

.small::after{
    content: "";
    border: 2px solid #000;
    width: 35px; height: 35px;
    display: block;
    position: absolute;
    border-radius: 100%;
    margin: -7px;
}

.active{
    background: #fff;
    border: 2px solid #000;

}

.d-rightscroll .small{
    background: #fff;
    border: 2px solid #fff;
}
.d-rightscroll .small::after{
    border: 2px solid #fff;
}

.d-rightscroll .active{
    background: #000;
    border: 2px solid #fff;
}