section{
    min-width: 100vw;
	height: 100vh;
}

section.second {
    color: white;
    z-index: 0;
    position: relative;
}
section .wrapper {
    margin: 10em 20em;
    position: absolute;
}
section .wrapper h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 5em;
}

section .wrapper .btn-eclipse {
    border-radius: 99px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.7em 2.6em;
    min-width: 200px;
    font-size: 1.5em;
    margin-top: 1.5em;
}

section .wrapper h4 {
    font-weight: 300;
    width: 500px;
    word-break: normal;
    word-wrap: break-word;
    line-height: 1.5em;
    margin-top: 1.5em;
    font-size: 1.5em;
}
.sickoMode{
    mix-blend-mode: difference;
}